# Default code owner for the repository
* @Prem-MysteryPro @jayaseelan-james @SowmyaRavee

# Add santhoshramaraj for documentation
*.md @santhoshramaraj @Prem-MysteryPro @jayaseelan-james @SowmyaRavee
